<!DOCTYPE html>
<html ng-app="tweetStreamApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <!--[if IE]>
    <link href="stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <![endif]-->

    <!--Bootstrap-->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.css"/>

    <!--D3 Bar Chart-->
    <link rel="stylesheet" href="stylesheets/bar-chart.css"/>

    <!--Global override-->
    <link rel="stylesheet" href="stylesheets/style.css"/>

    <script src="lib/socket.io-client/socket.io.js"></script>
    <script src="lib/d3/d3.js"></script>
    <script src="lib/moment/moment.js"></script>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-socket-io/socket.js"></script>

    <script src="javascripts/app.js"></script>
    <script src="javascripts/config.js"></script>
    <script src="javascripts/socket.js"></script>

    <script src="javascripts/live-tweet-list.js"></script>
    <script src="javascripts/unsafe.filter.js"></script>

    <script src="javascripts/d3-bar-chart.module.js"></script>
    <script src="javascripts/bar-chart.directive.js"></script>
    <title>Prototype Test</title>
</head>
<body>

<div class="container">

    <style>
        .chart rect, chart line {
            fill: steelblue;
            stroke: lightskyblue;
            shape-rendering: crispEdges;
        }
    </style>

    <div ng-controller="TweetActivity as vm" class="col-md-offset-2 col-md-8" style="background-color: lightskyblue;">

        <bar-chart data="vm.data" hovered="vm.hovered(args)"></bar-chart>

    </div>


    <script>
        angular.module('tweetStreamApp').controller('TweetActivity', function ($scope, socket) {

            /*jshint validthis: true*/
            var vm = this;
            /*
            vm.data = [
                 { timestamp: 1418372367375, value: 2 },
                 { timestamp: 1418372369376, value: 8 },
                 { timestamp: 1418372371396, value: 6 },
                 { timestamp: 1418372373400, value: 8 },
                 { timestamp: 1418372375410, value: 3 },
                 { timestamp: 1418372377418, value: 9 }
             ];
             */
            vm.data = [];

            vm.hovered = function (d) {

                vm.barValue = d;
                $scope.$apply();
            };
            vm.barValue = 'None';

            socket.on('tweet-count-history', function (data) {

                vm.data = data;
            });
        });
    </script>


    <div ng-controller="LiveTweetList as vm" class="col-md-offset-2 col-md-8">
        <h1>Total Tweets Received: {{vm.count}}</h1>

        <div ng-repeat="tweet in vm.tweets track by $index" class="well well-sm">
            <div ng-if="settings.profilePicturesEnabled">
                <img ng-src="{{tweet.user.profile_image_url_https}}" alt="" class="profile__image"/>
            </div>
            <div>
                <div class="tweet__timestamp">{{tweet.timestamp_ms | date:'medium'}}</div>
                <div ng-bind-html="tweet.text | linky | unsafe"></div>
            </div>
        </div>
    </div>

</div>

</body>
</html>