body {
    font: 14px sans-serif;
}
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis path {
    fill: none;
    stroke: none;
}

.chart .bar {
    fill: steelblue;
    stroke: lightskyblue;
    shape-rendering: crispEdges;
}
.chart line {
    fill: #696969;
    stroke: #696969;
    shape-rendering: crispEdges;
}